<nav class="navbar">
    <div class="container nav-container">
        <div class="logo">
            <a href="/assets/index.html" style="color: inherit; text-decoration: none;">Tienda de Té</a>
        </div>
        <ul class="nav-links">
            <base href="/assets/pages/">
            <li><a href="tienda.html">Nuestro Té</a></li>
            <li><a href="tutoriales.html">Tutoriales</a></li>
            <li><a href="menu-tienda.html">Nuestro Menú</a></li>
            <li><a href="trabaja-en-tdc.html">Trabajá con Nosotros</a></li>
            <li><a href="franquicias.html">Franquicias</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </div>
</nav>